@model BadgeManagerMVC.Models.Employee

@{
    Layout = null;
}

<link href="~/Content/Print.css" rel="stylesheet" type="text/css" />

<body>
    <div class="badgeBackground">
        <img src="~/Content/Images/EKNA Vertical Badge(96dpi).jpg" />
        <img src="~/Content/EmployeeImages/@(string.Format("{0}, {1}.jpg", Model.LastName, Model.FirstName))" class="employeeImage" />
        <div class="employeeFirstName">@Model.FirstName</div>
        <div class="employeeLastName">@Model.LastName</div>
        <div class="dateOfHire">@Model.HireDate.ToShortDateString()</div>
        <div class="employeeId">EMP@(Model.EmployeeNumber)</div>
        <div class="barcode">*EMP@(Model.EmployeeNumber)*</div>
    </div>
    <button type="button">Print Badge</button>
</body>





